
.footer-section {
    height: 170px;
    padding-top: 50px;

    .footer {
        height: 120px;
        background-color: lightcoral;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 1;


        .author {
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }

        .social {
            display: flex;
            justify-content: space-evenly;
            width: 150px;
            // background-color: blue;
            font-size: 20px;

            a {
                color: black;
            }

        }

        &::before {
            content: '';
            background-color: lightcoral;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

}